.dark() {
  --link: var(--primary-bright);
  --submission-link: var(--link);
  --submission-link-visited: var(--text);
  --submission-link-sticky: var(--fg-green);

  --primary: rgb(23, 23, 26);
  --primary-alt: #8383a9;
  --primary-bright: rgb(212, 212, 224);
  --primary-fg: #ffffff;
  --accent: rgb(32, 34, 38);
  --accent-alt: rgb(58, 58, 68);
  --accent-fg: var(--text);

  --bg: rgb(253, 253, 253);
  --bg-page: rgb(37, 38, 43);
  --bg-content: rgb(37, 38, 43);
  --bg-yellow: rgb(52, 49, 43);
  --bg-blue: rgb(52, 49, 43);

  --text: rgb(255, 255, 255);
  --text-muted: rgb(142, 142, 142);
  --fg-red: rgb(255, 0, 0);
  --fg-orange: rgb(239, 128, 43);

  --card-bg: var(--bg-content);
  --card-shadow: 0 0 4px 4px #00000000;
  --notification: #fb0000;
  --site-nav-bg: rgb(117, 117, 150);

  .form-control:focus {
    border-color: var(--primary-bright);
  }

  .dropdown-card {
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  }
  .site-content {
    flex-direction: row-reverse;

    //If mobile
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .button {
    --bg: rgb(82, 82, 93);
  }

  .button:hover {
    background-color: rgb(114, 114, 131);
  }
  
  header .site-nav__link:first-child {
    font-size: 2rem;
    padding: 5px;
  }  

  .form-control {
    background-color: rgb(54, 57, 63);
    border-radius: 0.25rem;
  }

  input {
    margin-bottom: 5px;
  }
}
