.light() {
  --link: var(--primary-alt);
  --submission-link: var(--link);
  --submission-link-visited: var(--text-muted);
  --submission-link-sticky: var(--fg-green);
  
  --primary: rgb(221, 211, 211);
  --primary-alt: #8383a9;
  --primary-bright: rgb(212, 212, 224);
  --primary-fg: var(--text);
  --accent: rgb(235, 235, 235);
  --accent-alt: rgb(235, 235, 235);
  --accent-fg: var(--text);
  
  --bg: rgb(255, 255, 255);
  --bg-page: rgb(245, 245, 245);
  --bg-content: rgb(255, 255, 255);
  --bg-yellow: rgb(255, 251, 235);
  --bg-blue: rgb(228, 241, 255);
  
  --text: rgb(0, 0, 0);
  --text-muted: rgb(142, 142, 142);
  --fg-red: rgb(255, 0, 0);
  --fg-orange: rgb(239, 128, 43);
  
  --card-bg: var(--bg-content);
  --card-shadow: 0 0 4px 4px #00000000;
  --notification: #fb0000;
  --site-nav-bg: rgb(200, 200, 200);
  
  .form-control:focus {
  border-color: var(--primary-bright);
  }
  
  .dropdown-card {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  }
  
  .site-content {
  flex-direction: row-reverse;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  }
  
  .button {
  --bg: rgb(225, 225, 225);
  }
  
  .button:hover {
  background-color: rgb(200, 200, 200);
  }
  
  .site-nav__link {
    color: rgb(58, 49, 49);
  }

  header .site-nav__link:first-child {
  font-size: 2rem;
  padding: 5px;
  }
  
  .form-control {
  background-color: rgb(242, 242, 242);
  border-radius: 0.25rem;
  }
  
  input {
  margin-bottom: 5px;
  }
  }